# gRPC server settings
GRPC_PORT=15600

# Logging
LOGGING_LOG_LEVEL=INFO

# OpenAI for embeddings
OPENAI_API_KEY=<YOUR-API-KEY>

# Qdrant settings
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=retrieval
