.env
.env.local
.env.production

/coverage
node_modules
postman
mock

/uploads
/keys
/.vscode
/.idea
/.DS_Store

docker-compose.override.yaml

voice-service/speech-recognition/bin
voice-service/speech-recognition/obj
**/.idea/