<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Activated</title>
  </head>
  <body>
    <h2 style="text-align: center; color: green">
      Account activated successfully!
    </h2>
    <div style="text-align: center">
      <a
        href="<%= redirectUrl %>"
        style="font-size: 18px; color: blue; text-decoration: underline"
        >Go to Login Page</a
      >
    </div>
  </body>
</html>
