<!DOCTYPE html>
<html>
  <head>
    <title>My AI Assistant</title>
  </head>
  <body>
    <h1>Login with Google</h1>
    <a href="/api/v1/access/google/auth">Login with Google</a>
    <h1>Login with Facebook</h1>
    <a href="/api/v1/access/facebook/auth">Login with Facebook</a>
  </body>
</html>
