PORT=15300
COMPOSIO_API_BASE_URL="https://backend.composio.dev/api"
COMPOSIO_API_KEY="d04n821zcnqtop53g98fx"
DATABASE_URL="mongodb://root:root@localhost:27017/datn-extension-db?authSource=admin"
AI_SERVICE_URL="http://localhost:15200/api/v1"