# Logging
DEBUG_MODE=True
LOGGING_LOG_LEVEL=INFO

# Qdrant settings
QDRANT_URL="http://localhost:6333"
QDRANT_API_KEY=
QDRANT_COLLECTION="documents"

# OpenAI settings
OPENAI_EMBED_MODEL="text-embedding-3-small"
OPENAI_API_KEY= "<YOUR-API-KEY>"

# Azure Blob Storage
MAX_UPLOAD_SIZE=52428800  # 50 MB
AZURE_BLOB_CONNECTION_STRING="<your-connection-string>"
AZURE_BLOB_CONTAINER_NAME="uploadingdev"

# Celery settings
RABBITMQ_URL="amqp://root:root@localhost:5672/"
REDIS_URL="redis://default:default@localhost:6379/0"

# AI Service API (for updating upload status)
AI_SERVICE_URL="http://localhost:15200"